@page "/"
@rendermode InteractiveServer
<PageTitle>Conjure.ink - start page</PageTitle>
<MudText Typo="Typo.h1" Class="d-none d-sm-flex">Welcome to conjure.ink</MudText>
<MudText Typo="Typo.h2" Class="d-none d-sm-flex">The very best art of magical chromophore coating on stuff and things!</MudText>
<MudText Typo="Typo.h4" Class="pa-20 ma-1 d-flex d-sm-none">Welcome to the conjure.ink, the very best art of magical chromophore coating on stuff and things!</MudText>
<MudMainContent>
    <MudGrid Class="object-center">
        <MudItem xs="1" sm="2" md="2" lg="2" xl="2" xxl="2"></MudItem>
        <MudItem xs="12" sm="8" md="8" lg="8" xl="8" xxl="8">
            <MudCarousel ShowArrows="false" ShowBullets="false" TData="object" Style="height:500px" Class="mud-width-full" >
                <PreviousButtonTemplate>
                    <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
                        <span class="mud-icon-button-label">
                            <MudIcon Class="mud-ripple mud-ripple-icon mud-icon-button-size-large" Icon="@Icons.Material.Filled.NavigateBefore" Color="@MudBlazor.Color.Inherit" />
                        </span>
                    </div>
                </PreviousButtonTemplate>
                <NextButtonTemplate>
                    <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
                        <span class="mud-icon-button-label">
                            <MudIcon Class="mud-ripple mud-ripple-icon mud-icon-button-size-large" Icon="@Icons.Material.Filled.NavigateNext" Color="@MudBlazor.Color.Inherit" />
                        </span>
                    </div>
                </NextButtonTemplate>
                <ChildContent>
                    @foreach (var image in Images)
                    {
                        <MudCarouselItem>
                            <div class="d-flex" style="height:100%">
                                <MudPaper Elevation="0">
                                    <MudImage Src="@image" Elevation="0" Class="rounded-lg" Fluid="true" ObjectFit="ObjectFit.Cover" ObjectPosition="ObjectPosition.Center"></MudImage>
                                </MudPaper>
                            </div>
                        </MudCarouselItem>
                    }
                </ChildContent>
            </MudCarousel>
        </MudItem>
        <MudItem xs="1" sm="2" md="2" lg="2" xl="2" xxl="2"></MudItem>
    </MudGrid>
</MudMainContent>


@code {
    public List<string> Images { get; set; }
    protected override void OnInitialized()
    {
        @* string rootpath = System.IO.Path.Combine(AppDomain.CurrentDomain.BaseDirectory, "wwwroot"); *@
        string rootpath = System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "content", "carousel");

        var currentDir = new DirectoryInfo(rootpath);
        Images = currentDir.GetFiles().Select(img => $"content/carousel/{img.Name}").ToList();
    }

}